# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/upload/album/cover/
/upload/artist/
/upload/avatar/upload/
/upload/banner/recommend/
/upload/channel/cover/
/upload/channel/program/
/upload/moment/picture/
/upload/moment/song/
/upload/song/
/upload/topic/cover/
/upload/toplist/cover/
/upload/video/cover/
/upload/video/source/
/upload/playlist/cover/
# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
/node_modules/
/build
/dist
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
