@font-face {
  font-family: "iconfont"; /* Project id 2576717 */
  src: url('iconfont.woff2?t=1651655018999') format('woff2'),
       url('iconfont.woff?t=1651655018999') format('woff'),
       url('iconfont.ttf?t=1651655018999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-data-arrow-up:before {
  content: "\e61b";
}

.icon-redu:before {
  content: "\e619";
}

.icon-duihao:before {
  content: "\eaf1";
}

.icon-refresh:before {
  content: "\e6a4";
}

.icon-right-arrow:before {
  content: "\e698";
}

.icon-xiaoxi:before {
  content: "\e667";
}

.icon-tuichuquanping:before {
  content: "\e8fa";
}

.icon-quanping:before {
  content: "\e7cf";
}

.icon-vip:before {
  content: "\e6ba";
}

.icon-tag:before {
  content: "\e620";
}

.icon-igw-l-edit:before {
  content: "\e617";
}

.icon-upload:before {
  content: "\e627";
}

.icon-zongheguanli:before {
  content: "\e642";
}

.icon-video-l:before {
  content: "\e66b";
}

.icon-bxs-radio:before {
  content: "\e6d3";
}

.icon-huishouzhan:before {
  content: "\e61a";
}

.icon-MoreVertical:before {
  content: "\e66c";
}

.icon-exit:before {
  content: "\e650";
}

.icon-xiangzidakai:before {
  content: "\e613";
}

.icon-ttpodicon:before {
  content: "\e62f";
}

.icon-zhuanji:before {
  content: "\e675";
}

.icon-yinfu:before {
  content: "\e682";
}

.icon-yonghuxinxi:before {
  content: "\e64a";
}

.icon-yinle-liebiao:before {
  content: "\e83e";
}

.icon-jiarushoucang:before {
  content: "\e611";
}

.icon-yishoucang:before {
  content: "\e612";
}

.icon-dianzan:before {
  content: "\e605";
}

.icon-pinglun1:before {
  content: "\e67b";
}

.icon-xinjianshoucangjia:before {
  content: "\ec58";
}

.icon-loveit:before {
  content: "\e6f7";
}

.icon-play-list-2-fill:before {
  content: "\e7fc";
}

.icon-yangshengqi:before {
  content: "\e766";
}

.icon-custom-play:before {
  content: "\e61d";
}

.icon-skipnext:before {
  content: "\e769";
}

.icon-pause:before {
  content: "\e98f";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-arrow-right:before {
  content: "\e603";
}

.icon-video:before {
  content: "\e601";
}

.icon-tupian:before {
  content: "\e6e5";
}

.icon-jia1:before {
  content: "\e608";
}

.icon-play:before {
  content: "\e65d";
}

.icon-playcircle:before {
  content: "\e80f";
}

.icon-fenxiangzhuanfafasongzhijiantouyuanxingshar:before {
  content: "\e62a";
}

.icon-download:before {
  content: "\e643";
}

.icon-search:before {
  content: "\e622";
}

.icon-play1:before {
  content: "\e72f";
}

.icon-play2:before {
  content: "\e600";
}

.icon-love:before {
  content: "\e66a";
}

.icon-user1:before {
  content: "\e916";
}

