* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
body {
  font-family: 'Arial,Helvetica,sans-serif' !important;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
#root{
  width: 100%;
  height: 100%;
}
html,body{
  width: 100%;
  height: 100%;
}
button,
input,
textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
textarea {
  resize: none;
}
.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.center-content {
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
}
/*收藏*/
.sub {
  border: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}
.sub span {
  color: #656565;
  font-size: 13px;
}
.sub i {
  color: #656565;
  font-size: 18px;
  margin: 0 10px 0 0;
}
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
::-webkit-scrollbar {
  width: 2px;
}

.create-playlist-img-container{
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f5f5;
  position: relative;
}
.create-playlist-img-container input{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  opacity: 0;
}
.create-playlist-img-container .g-pic-prev{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}
.create-playlist-img-container .g-pic-prev svg{
  font-size: 30px;
  color: #e3807d;
}
.create-playlist-img-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.create-playlist-img-container .mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  left: 0;
  top:0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: none;
}
.create-playlist-img-container .mask svg{
  font-size: 30px;
  cursor: pointer;
}
.create-playlist-img-container:hover .mask{
  display: flex;
}
.user-avatar-container{
  width: 100%!important;
  aspect-ratio: 1!important;
  height: unset!important;
}
