* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
body {
  font-family: 'Arial,Helvetica,sans-serif' !important;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
#root{
  width: 100%;
  height: 100%;
}
html,body{
  width: 100%;
  height: 100%;
}
button,
input,
textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
textarea {
  resize: none;
}
.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.center-content {
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
}
/*收藏*/
.sub {
  border: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}
.sub span {
  color: #656565;
  font-size: 13px;
}
.sub i {
  color: #656565;
  font-size: 18px;
  margin: 0 10px 0 0;
}
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
::-webkit-scrollbar {
  width: 2px;
}

